@media (max-width: 1199px) {

@import "color.scss";

.nav-web, .section-web{
    display: none;
}

html, body{
    font-family: 'Roboto';
    margin: 25px;
    overflow: hidden;
}

.btntitle{
    color: $pink;
}

.nav-mobile{
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1{
        font-size: 28px;
    }
}

.section-mobile{
    h1{
        font-size: 42px;
    }

    p{
        font-size: 25px;
        margin-bottom: 80px;
    }
}

input, button{
    display: flex;
}

input{
    width: 100%;
    border: none;
    border-bottom: solid 1px $gray;
    padding-bottom: 10px;
}

.early{
    background-color: $darkblue;
    border-style: none;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    padding: 15px 40px;
    border-radius: 20px;
    text-decoration: none;
    color: $white;
    font-weight: bold;
}
}