@media (max-width: 414px) {

    * {
        padding: 0;
        margin: 0;
        border: 0;
        font-size: 1em;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        overflow: hidden;
        
       }
    
    /*Some decorative stuff*/
    
    body {
      
        background-color: #ffc14d;   
    }
    
       
    
    .cursor, a {
        cursor: pointer;
    }
    
    /***************My slides********************/
    
    #slider {
        width: 87.84vw;
        height: 100vh;
        margin: 0.7em auto;
        position: relative;
        overflow: hidden;
       
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.13); 
        background-color: rgba(255, 255, 255, 0.281);
        backdrop-filter: blur(8px);
        
    }
    
    div.slide {
        width: 95vw;
        height: 100vh;
        text-align: center;
        position: absolute;
        top: 10vh;
        background: rgba(255, 255, 255, 0.692);
        opacity: 0;
       
        
    }
    
    #s1 {
        left: 0;
    }
    
    #s2 {
        left: 0px;
    }
    
    #s3 {
        left: 0px;
    }
    
    #s4 {
        left: 0px;
    }
    
    /*#s5 {
        left: 8500px;
    }*/
    
    #controls {
        margin: 1em 0;
        text-align: center;
        margin-left: 11vw;
        position: fixed;
        z-index: 100;
    }
    
    #controls a {
        display: inline-block;
        width: 52px;
        height: 52px;
        margin-right: 5px;
        margin-top: 0.5em;
        background: rgb(108, 0, 158);
        color: #fff;
        font-size: 2em;
        text-decoration: none;
        border-radius: 50%;
        line-height: 52px;
        
    }
    
    div.slide:target {
        left: 0;
        opacity: 1;
        z-index: 10;
        transform: translate(0,-30px);
       
    }
    
    
    
    h1 {
        font-size: 1.35em;
        color: rgba(121, 121, 121, 0.521);
        font-weight: 600;
        margin-top: 5em;
        margin-left: 0.6em;
        text-align: left;
        width: 90%;
       
    }
    
    
    p {
        margin-top: 2em;
        color:rgba(48, 48, 48, 0.747);
        font-size: 1em;
        margin-right: 10vw;
       
    }
    
    
    /********************Just trying cool animations for other decorations*****************************/
    
    .doodle {
        display: none;
       
            
        }
    
    /*slide1*/
        
    
    
        #dom {
          width: 90%;
          transform: translateX(-47vw);
          position: absolute;
          margin-top: 0.5em;
        }
    
    
        #s1 p {
    
          margin-left: 1em;
          white-space: pre-line;
          text-align: left;
          font-size: 1em;
          margin-top: 36vh;
        
        }
    
        /*slide2*/
        
        #s2 p {
    
          margin-left: 4em;
          white-space: pre-line;
          text-align: left;
          position: absolute;
          margin-top: 24em;
          
        }
    
    
        #s2 a {
          text-decoration: none;
          color: rgb(108, 0, 158);
          font-size: 1.3em;
          cursor: pointer;
        }
    
    
        /******screen in the slide****/
    
        .dot {
         display: none;
        }
        
        .screen {
          border: 3px solid rgb(108, 0, 158);
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          position: absolute;
          margin-left: 0.1em;
          margin-top: 2em;
          width: 85vw;
          height: 45vh;
        }
        
        .top {
          padding: 10px;
          background: rgb(108, 0, 158);
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          margin-left: -30em;
        }
        
        .content {
          padding: 10px;
          text-align: left;
          white-space: pre-line;
          font-size: 0.9em;
          margin-left: 0.2em;
        }
    
    
        .content a {
          text-decoration: none;
          color:rgb(108, 0, 158);
          cursor: pointer;
          margin-left: 0.5em;
        }
    
    
        /*slide3*/
    
           
        #s3 p {
          margin-top: 1vh;
          white-space: pre-line;
        
          text-align: left;
          margin-left: 0.7em;
          font-size: 0.9em;
        }
    
        #s3 a {
    text-decoration: none;
    color:rgb(108, 0, 158);
    cursor: pointer;
    font-size: 1em;
        }
    
        #ressources {
        display: none;
        }
        
    
         /*slide4*/
    
           
        #s4 p {
          margin-top: 2vh;
          white-space: pre-line;
          
          text-align: left;
          margin-left: 1.2em;
        }
    
        #s4 a {
          text-decoration: none;
          color:rgb(108, 0, 158);
          font-size: 1.2em;
          cursor: pointer;
              }
    





























}