body{
    text-align: center;
}

table,
td {
    border: 1px solid #333;
    text-align: center;
}

thead,
tfoot {
    background-color: rgb(179, 37, 37);
    color: #fff;
    text-align: center;
}

span {
    display: block;
}

.Composition{
    text-decoration: underline;
}