@media (min-width: 768px) {
    main {
        display: flex;
        flex-flow: row;
        padding: 12px;
    }

    main article {
        order: 1;
        width: 65%;
        border-right: 1px solid lightslategray;
    }

    main aside {
        order: 2;
        width: 35%;
    }
}
