@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;500&display=swap');

/* Variables */
:root {
    --font-size: 18px;
    --shadow: rgba(0, 0, 0, 0.35);
    --white: #ffffff;
    --black: #141420;
    --grey: #515165;
    --grey-light: #dce2ec;
}

/* Reset elements */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: var(--font-size);
    height: 100vh;
    background-color: var(--grey-light);
}


/*Partie sur le Swipe Menu*/

/* Menu burger */
#menu-burger {
	position:absolute; 
	top: 1em; 
	left: 1em; 
	display:inline-block; 
	cursor:pointer;
	z-index: 9999;
}

#menu-burger .bar1, #menu-burger .bar2, #menu-burger .bar3 {
	width:32px; 
	height:5px; 
	background-color:white; 
	margin:6px 0; 
	transition:0.4s;
}

#menu-burger:hover {
	opacity: .75; 
	transition: .5s;
}

#menu-burger.clicked .bar1 {
	-webkit-transform:rotate(-45deg) translate(-9px, 6px); 
	transform:rotate(-45deg) translate(-9px, 6px);
}

#menu-burger.clicked .bar2 {
	opacity: 0;
}

#menu-burger.clicked .bar3 {
	-webkit-transform:rotate(45deg) translate(-8px, -8px); 
	transform:rotate(45deg) translate(-8px, -8px);
}

/* Main menu (slide) */
#menu {
	position:fixed; 
	z-index:9999; 
	left:-25%; 
	top: auto; 
	background:black; 
	padding: 4em 2em; 
	width: 25%; 
	min-height:100%;
	border-radius: 10px;
}

#menu ul li {
	list-style:none;
}

#menu ul li a {
	display:block; 
	color:black; 
	text-decoration:none;
	border-radius: 10px;
	transition:background .5s; 
	margin-bottom:.5em;
}

#menu ul li a:hover {
	background:lightgray; 
	transition:background .5s;
	padding: 10px;
	color: black;
}

#menu ul li img{
	width: 40px;
}

#menu ul p{
	display: inline-block;
	font-size: 15px;
	color: white;
	margin-left: 10px;
}

#menu.visible {
	animation:.5s slideRight ease-in forwards; 
	transition-delay:0;
}

#menu.invisible {
	animation:1s slideLeft ease-out forwards; 
	transition-delay:0;
}

/* Animations pour le menu slide */
@keyframes slideRight {
	from {left:-25%;}
	to {left:0%;}
}
@-webkit-keyframes slideRight {
	from {left:-25%;}
	to {left:0%;}
}
@keyframes slideLeft {
	from {left:0%;}
	to {left:-25%;}
}
@-webkit-keyframes slideLeft {
	from {left:0%;}
	to {left:-25%;}
}

/* Responsive design */
@media (max-width:1024px) {
	#menu {left:-50%; width:50%;}
	#menu-burger.clicked {position:fixed;}
	#main-block,
	#second-block {padding:4em 2em;}

	/* Animations pour le menu slide */
	@keyframes slideRight {
		from {left:-50%;}
		to {left:0%;}
	}
	@-webkit-keyframes slideRight {
		from {left:-50%;}
		to {left:0%;}
	}
	@keyframes slideLeft {
		from {left:0%;}
		to {left:-50%;}
	}
	@-webkit-keyframes slideLeft {
		from {left:0%;}
		to {left:-50%;}
	}
}
@media (max-width:600px) {
	#menu-burger {top:1em; right:2em; z-index:9999;}
	#menu {left:-100%; width:100%;}

	/* Animations pour le menu slide */
	@keyframes slideRight {
		from {left:-100%;}
		to {left:0%;}
	}
	@-webkit-keyframes slideRight {
		from {left:-100%;}
		to {left:0%;}
	}
	@keyframes slideLeft {
		from {left:0%;}
		to {left:-100%;}
	}
	@-webkit-keyframes slideLeft {
		from {left:0%;}
		to {left:-100%;}
	}
}