body, html{
    margin: 0;
    font-family: 'Comic Book';
}

#slide1 {
    background: url(./assets/img/moonknight.png) center 0 no-repeat fixed;
    height: 1080px;
    width: 100%
}
 
#slide2 {
    background: url(batman.jpg) center 0 no-repeat fixed;
    height: 1080px;
    width: 100%
}